
body {
    font-family: "Open Sans", sans-serif;
    background-color: #F7F7F7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #fff;
}

.logo img {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #333;
    background: #D8A7A2;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #F5A623;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

h1 {
    font-family: Playfair display;
    font-size: 48px;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.hero-image img {
    width: 750px; 
    height: 350px;
    border-radius: 15px; 
    object-fit: cover;
}


.feature-image img {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5A9A91;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #F5A623;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
}
.cta    {
    text-align: center;
}
